{
  "plugins": [
    "import"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@constants",
            "group": "internal"
          },
          {
            "pattern": "@storybook/**",
            "group": "external"
          },
          {
            "pattern": "@*/**",
            "group": "internal"
          },
          {
            "pattern": "./**",
            "group": "index"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc"
        },
        "newlines-between": "always"
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 2021,
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "parser": "@babel/eslint-parser"
}
