.vendingmachine-wrapper {
  width: 1000px;
  margin: 30px auto 0;
  display: flex;
  border: 1px solid #000;
}

.product-wrapper {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}

.vendingmachine-input-wrapper {
  width: 300px;
  height: 600px;
  margin-top: 20px;
}
