.vending-machine{
    display: flex;
    margin-top: 10px;
    font-size: 10px;

}
.vending-machine__menu{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.vending-machine__input{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.vending-machine__input__money{
    margin-bottom: 5px;
}
.vending-machine__input__return-btn{
    margin-bottom: 5px;
}